# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data files (Do not commit large raw datasets to GitHub!)
data/raw.zip
data/raw/*.csv
!data/sample/
!data/sample/*.csv


# Model weights
*.pth
*.pt
*.h5
*.pkl

# Notebook checkpoints
.ipynb_checkpoints/

# Figures (optional, but good if they get too large)
# figures/

# VS Code / IDE settings
.vscode/
.idea/

# Virtual environments
venv/
env/
.env
